VirtualBox
autostart
cat_installer
configstore
dconf
enchant
eog
evolution/sources
gedit
gnome-control-center/backgrounds
go/telemetry/local
gtk-3.0
gtk-4.0
ibus/bus
ion
libreoffice/4
menus/applications-merged
mkchromecast
nautilus
neofetch
omf
pop-shell
pop-system-updater
pulse
qalculate
repobee
safeeyes
sh.loft.devpod/logs
systemd/user/default.target.wants
totem
touchegg
unity3d
unityhub
vlc
xm1
yelp
.gsd-keyboard.settings-ported
user-dirs.locale
user-dirs.dirs
monitors.xml~
monitors.xml
mimeapps.list
gnome-initial-setup-done
appimagelauncher.cfg
QtProject.conf
