layout {
    tab name="remote-1" {
        pane {
            command "bash"
            args "-c" "~/.config/zellij/scripts/sics-connect 1"
        }
    }
    tab name="remote-2" {
        pane {
            command "bash"
            args "-c" "~/.config/zellij/scripts/sics-connect 2"
        }
    }
    tab name="remote-3" {
        pane {
            command "bash"
            args "-c" "~/.config/zellij/scripts/sics-connect 3"
        }
    }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
}
