[Desktop Entry]
Name=App Name
Comment=The focused application's name
Type=Application
Icon=preferences-desktop-apps-symbolic
Exec=pneuma-applet-app-name
Terminal=false
StartupNotify=true
Categories=COSMIC;
Keywords=COSMIC;Applet;
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-OverflowPriority=10
